@{
    ViewBag.Title = Translator.Products;
}

@Html.Partial("NavigationMenuWithBackground")

<section class="well well7">
    <div class="container">


        <div class="resp-tabs">

            <div class="resp-tabs-container">

                <div>
                    <div class="row col-4_mod-1">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/oxy_bg.jpg">
                                    <img src="~/site/templates/images/oxy_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_Oxygen_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_Oxygen_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=oxygen" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/n2_bg.jpg">
                                    <img src="~/site/templates/images/n2_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_Nitrogen_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_Nitrogen_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=nitrogen" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/ar_bg.jpg">
                                    <img src="~/site/templates/images/ar_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_Argon_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_Argon_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=argon" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/co2_bg-1.jpg">
                                    <img src="~/site/templates/images/co2_sm-1.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_CarbonDioxide_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_CarbonDioxide_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=carbon-dioxide" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/prop_bg.jpg">
                                    <img src="~/site/templates/images/prop_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_Propane_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_Propane_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=propane" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/he_bg.jpg">
                                    <img src="~/site/templates/images/he_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_Helium_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_Helium_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=helium" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/ar_mix_bg.jpg">
                                    <img src="~/site/templates/images/ar_mix_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_ArgonCarbonDioxide_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_ArgonCarbonDioxide_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=argon-carbon-dioxide" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail thumbnail4">
                                <a class="thumb" data-fancybox-group="1" href="~/site/templates/images/ace_bg.jpg">
                                    <img src="~/site/templates/images/ace_sm.jpg" alt="" />
                                    <span class="thumb_overlay"></span>
                                </a>

                                <div class="caption">
                                    <h6>
                                        <a>
                                            @Translator.Products_Acetylene_Header
                                        </a>
                                    </h6>

                                    <p>
                                        @Translator.Products_Acetylene_Small_Content
                                    </p>
                                    <a href="/main/product_details?tag=acetylene" class="btn-link">
                                        <span class="fst" data-txt="@Translator.ReadMore"></span>
                                        <span class="snd" data-txt="@Translator.ReadMore"></span>

                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>