<section class="well well7">
    <div class="container">
        <h3 class="text-center">
            @Translator.WhatWeDo
        </h3>

        <p class="text-center">
            @Translator.WhatWeDoSubHeader
        </p>

        <div class="row">
            <ul class="index-list index-list_mod col-4_mod">
                <li class="col-md-4 col-sm-6 col-xs-12">

                    <h6>
                        <a href="javascript:void(0);">
                            @Translator.WhatWeDo_01_Header
                        </a>
                    </h6>

                    <p>
                    <p>@Translator.WhatWeDo_01_Content</p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">

                    <h6>
                        <a href="javascript:void(0);">
                            @Translator.WhatWeDo_02_Header
                        </a>
                    </h6>

                    <p>
                    <p>
                        @Translator.WhatWeDo_02_Row1_Content
                        <br />
                        @Translator.WhatWeDo_02_Row2_Content
                    </p>

                    <p> </p>

                    <p> </p>

                    <p> </p>
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">

                    <h6>
                        <a href="javascript:void(0);">
                            @Translator.WhatWeDo_03_Header
                        </a>
                    </h6>

                    <p>
                    <p>
                        @Translator.WhatWeDo_03_Row1_Content<br />
                        @Translator.WhatWeDo_03_Row2_Content<br />
                        @Translator.WhatWeDo_03_Row3_Content<br />
                        @Translator.WhatWeDo_03_Row4_Content<br />
                        @Translator.WhatWeDo_03_Row5_Content<br />
                        @Translator.WhatWeDo_03_Row6_Content
                    </p>            
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">

                    <h6>
                        <a href="javascript:void(0);">
                            @Translator.WhatWeDo_04_Header
                        </a>
                    </h6>

                    <p>
                    <p>
                        @Translator.WhatWeDo_04_Row1_Content<br />
                        @Translator.WhatWeDo_04_Row2_Content<br />
                        @Translator.WhatWeDo_04_Row3_Content<br />
                        @Translator.WhatWeDo_04_Row4_Content<br />
                        @Translator.WhatWeDo_04_Row5_Content
                    </p>   
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">

                    <h6>
                        <a href="javascript:void(0);">
                            @Translator.WhatWeDo_05_Header
                        </a>
                    </h6>

                    <p>
                    <p>
                        @Translator.WhatWeDo_05_Row1_Content<br />
                        @Translator.WhatWeDo_05_Row2_Content<br />
                        @Translator.WhatWeDo_05_Row3_Content<br />
                        @Translator.WhatWeDo_05_Row4_Content
                    </p>           
                </li>
                <li class="col-md-4 col-sm-6 col-xs-12">

                    <h6>
                        <a href="javascript:void(0);">
                            @Translator.WhatWeDo_06_Header
                        </a>
                    </h6>

                    <p>
                    <p>
                        @Translator.WhatWeDo_06_Row1_Content<br />
                        @Translator.WhatWeDo_06_Row2_Content
                    </p>          
                </li>
            </ul>
        </div>
    </div>
</section>